h1 {
    color: white;
    font-family: 'SansationBold';
    font-size: 28px;
    background-color: #1976d2;
    border-radius: 4px;
}

p {
    margin-left: 1em;
}

h3 {
    color: rgb(120,120,120);
    font-family: 'SansationBold';
    font-size: 20px;
}

.ruolo {
    font-family: 'SansationBold';
    font-size: 22px;
    color: black;
}
.societa {
    font-family: 'SansationRegular';
    font-size: 22px;
    color: black;
}
.nomeProgetto {
    font-family: 'SansationBold';
    font-size: 22px;
    color: black;
}
.descrizione {
    font-family: 'SansationRegular';
    font-size: 16px;
    color: black;
}
.descrizioneBold {
    font-family: 'SansationBold';
    font-size: 16px;
    color: black;
}

.box {
	padding: 10px 10px 10px 10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background-color: rgba(255,255,255,0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 5px #0099FF;
	-moz-box-shadow: 0 0 5px #0099FF;
	box-shadow: 5px 5px 10px 1px #333333;
	color:rgba(0,0,150,1.0);
}
