<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center mt-2">
            <div class="titolocv">
                CURRICULUM VITAE <img src="assets/images/foto.jpg" alt="foto mia" class="miafoto ml-2" (mouseover)="getMouseOver()" (mouseout)="getMouseOut()"/>
            </div>
        </div>
    </div>
    <div class="row" [hidden]="isHidden">
        <div class="col-lg-12 text-center mt-2">
            <div class="">
                <img src="assets/images/foto.jpg" alt="foto mia" class="miafotoGrande mt-4"/>
            </div>
        </div>
    </div>
</div>

