<div class="container mt-4 box">
    <div class="row">
        <div class="col-lg-12">
            <h1><p>ISTRUZIONE E FORMAZIONE</p></h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3">
            <h3>31/07/2017</h3>
        </div>
        <div class="col-lg-9">
            <div class="ruolo"><h3>Scrum Master Certified Credential</h3></div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-3">
            <h3>16/06/2016</h3>
        </div>
        <div class="col-lg-9">
            <div class="ruolo"><h3>Certified Function Point Specialist</h3></div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-3">
            <h3>25/03/2013</h3>
        </div>
        <div class="col-lg-9">
            <div class="ruolo"><h3>Oracle Certified Professional, Java SE 6 Programmer</h3></div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-3">
            <h3>1994-1999</h3>
        </div>
        <div class="col-lg-9">
            <div class="ruolo"><h3>Diploma di Maturità scientifica</h3></div>
        </div>
    </div>
</div>

<div class="container mt-4 box">
    <div class="row">
        <div class="col-lg-12">
            <h1><p>CONOSCENZE LINGUISTICHE</p></h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-12 ruolo">
            <h3>Inglese livello B1</h3>
        </div>
    </div>
</div>

<div class="container mt-4 box">
    <div class="row">
        <div class="col-lg-12">
            <h1><p>SKILLS</p></h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-12 ruolo">
            <h3>Capacità di problem solving, empatia, competenze in Leadership & Teamworking</h3>
        </div>
    </div>
</div>
