/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: 'SansationRegular';
	src: url('assets/font/Sansation_Regular.woff') format('woff'), 
		url('assets/font/Sansation_Regular.ttf') format('truetype'), 
		url('assets/font/Sansation_Regular.svg#webfontLr2B6u5e') format('svg');
		
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SansationBold';
	src: url('assets/font/Sansation_Bold.woff') format('woff'), 
		url('assets/font/Sansation_Bold.ttf') format('truetype'), 
		url('assets/font/Sansation_Bold.svg#webfont8dfDl0fr') format('svg');
	font-weight: normal;
	font-style: normal;
}
